.status-cell {
	text-align: center;
	margin: 10px;	
	width: 48%;
}

.container-fill { 
    min-height: 100%;
    height: 100%;
    margin-left: 10px;
    width: 100%;
}

.row-fill { 
    min-height: 100%;
    height: 100%;    
    margin-left: -10px;
}

html, body {
    height: 100%;
}

h2 {
	border-radius: 15px;
	border: 1px black solid;
}
.blue {
	background-color: #89FF88;
}

.blue_anime {
	-webkit-animation:blue 5s;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes blue /* Safari and Chrome */
{
0%   {background: #89FF88;}
50%  {background: #59A558;}
100% {background: #89FF88;}
}

.red {
	background-color: #FF0000;
	color: white;
}

.red_anime {
	color: white;
	-webkit-animation:red 5s;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes red /* Safari and Chrome */
{
0%   {background: #FF0000;}
50%  {background: #660000;}
100% {background: #FF0000;}
}

.yellow {
	background-color: #FFCC00;
}

.yellow_anime {
	-webkit-animation:yellow 5s;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes yellow /* Safari and Chrome */
{
0%   {background: #FFCC00;}
50%  {background: #806600;}
100% {background: #FFCC00;}
}

.grey {
	background-color: #CCCCCC;
}

.grey_anime {
	-webkit-animation:grey 5s;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes grey /* Safari and Chrome */
{
0%   {background: #CCCCCC;}
50%  {background: #9C9C9C;}
100% {background: #CCCCCC;}
}

.common-blue {
	background: #C2F0C2;
}

.common-yellow {
	background: #FFFF99;
}

.common-red {
	background: #E0B2B2;
}